language: bash
sudo: required

before_install:
  - docker pull weecology/portal_predictions
  - docker run --name ppred -t -d weecology/portal_predictions /bin/bash
  - docker cp ../portalPredictions ppred:/
  - docker exec -i ppred ls portalPredictions
  - cd ..
  - ls portalPredictions/predictions
  - git clone https://github.com/weecology/forecasts
  - cp portalPredictions/predictions/*.* forecasts/portal/
  - ls portalPredictions/predictions
  - ls forecasts/portal/
  - cd portalPredictions

script:
  - docker exec -i ppred bash -c "cd portalPredictions && Rscript install-packages.R"
  - docker exec -i ppred bash -c "cd portalPredictions && Rscript tools/prepare_data.R"
  - docker exec -i ppred bash -c "cd portalPredictions && Rscript PortalForecasts.R"
  - docker exec -i ppred bash -c "cd portalPredictions && Rscript tests/testthat.R"

after_success:
  - docker cp ppred:/portalPredictions portalPredictionsResult
  - cd portalPredictionsResult
  - bash archive.sh
